:root {
	--main-title-color: #fff;
	--accent-color: #2196f3;
	--color-titles: #212121;
	--color-text: #757575;
	--color-fon: #f5f4fa;
	--color-fon-banner: #c4c4c4;
	--color-black: #000;
	--main-button-accent: #188ce8;
	--contacts-in-footer: rgba(255, 255, 255, 0.6);
	--color-border: #eeeeee;
	--color-header-line: #ececec;
	--color-gradient-hero: rgba(47, 48, 58, 0.4);
	--color-soc-icons: #afb1b8;
	--card-set-gap: 30px;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
