.doing {
	display: none;
	@media screen and (min-width: 1200px) {
		background-color: var(--main-title-color);
		display: block;
	}

	&__title {
		margin-bottom: 50px;
		@include font(700, 36px, 1.16, 0.03em);
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		color: var(--color-titles);
	}
}

.doing__list {
	display: none;
	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 30px;
	}
	.doing__img {
		position: relative;
	}
	.doing__overlay {
		position: absolute;
		bottom: 0;
		right: 0;

		width: 370px;
		height: 70px;
		padding-top: 27px;
		padding-bottom: 27px;
		background: rgba(47, 48, 58, 0.8);
	}
	.doing__text {
		@include font(700, 14px, 1.14, 0.03em);
		text-align: center;
		text-transform: uppercase;

		color: var(--main-title-color);
	}
}
