.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	@include desktop {
		text-align: left;
	}
}
.logo-footer {
	font-family: "Raleway", sans-serif;
	@include font(700, 24px, 1.16, 0.03em);
	display: block;
	font-style: normal;
	color: var(--accent-color);
	margin-bottom: 20px;
	@include desktop {
		@include font(700, 26px, 1.19, 0.03em);
	}
}
.color-white {
	color: var(--main-title-color);
}
.position {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 60px;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-around;
	}
}
.address {
	@include font(null, 14px, 1.7, 0.03em);
	font-style: normal;
}
.adress-item:not(:last-child) {
	margin-bottom: 8px;
}
.adr {
	color: var(--main-title-color);
	line-height: 1.71;
}
.mail,
.tel {
	color: var(--contacts-in-footer);
	line-height: 1.71;
}
address a {
	transition: color 250ms var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.add {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: var(--main-title-color);
	margin-bottom: 20px;
	display: block;
}
.sotial-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.sotial-links {
	fill: var(--main-title-color);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff10;
	@extend %aglin-list;
	justify-content: center;

	transition: background-color 250ms var(--timing-function);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.subscribe {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
	color: var(--main-title-color);
}

.subscribe-form {
	@include desktop {
		display: flex;
		gap: 12px;
	}
}

.subscribe-button {
	@include font(700, 16px, 1.88, 0.06em);
	padding: 10px 28px;
	color: var(--main-title-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	@extend %aglin-list;
	justify-content: center;
	gap: 10px;
}

.subscribe-input {
	width: 450px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;

	@include font(null, 16px, 1.25, 0.03em);
	@extend %aglin-list;
	color: rgba(255, 255, 255, 0.6);
	@include desktop {
		width: 358px;
	}

	.subscribe-input::placeholder {
		@include font(null, 16px, 1.25, 0.03em);
		@extend %aglin-list;
		color: rgba(255, 255, 255, 0.6);
	}
}
