.page-header {
	background-color: var(--main-title-color);
	border-bottom: 1px solid var(--color-header-line);
}
.page-header .container {
	@extend %aglin-list;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	@include font(700, 24px, 1.16, 0.03em);
	color: var(--accent-color);
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: auto;
	@include tablet {
		margin-right: 87px;
	}
	@include desktop {
		@include font(700, 26px, 1.19, 0.03em);
		margin-right: 92px;
	}
}

.color-black {
	color: var(--color-black);
}
.site-nav {
	display: none;
	position: relative;

	padding-top: 32px;
	padding-bottom: 32px;
	margin: 0 auto;
	gap: 50px;
	@include tablet {
		display: flex;
	}
}

.site-nav-link {
	@include font(500, 14px, 1.14, 0.02em);
	color: var(--color-titles);
	transition: color 250ms var(--timing-function);
	padding-bottom: 32px;
	&:hover,
	&:focus {
		cursor: pointer;
		color: var(--accent-color);
	}
}
.auth-nav {
	display: none;
	margin-left: auto;
	@include tablet {
		display: block;
	}
	@include desktop {
		display: flex;
		gap: 30px;
	}
}

.auth-nav-item:not(:last-child) {
	margin-bottom: 10px;
}

.auth-nav-link {
	@include font(500, 12px, 1.16, 0.02em);
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	fill: currentColor;
	color: var(--color-text);
	transition: color 250ms var(--timing-function);
	@include desktop {
		@include font(500, 14px, 1.14, 0.02em);
		align-items: center;
		justify-content: center;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		color: var(--accent-color);
	}
}

.current {
	position: relative;
	color: var(--accent-color);

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--accent-color);
		border-radius: 2px;
	}
}
.menu-open {
	margin-right: 0;
	background-color: inherit;
	@include tablet {
		display: none;
	}
}
.menu-container {
	width: 100%;
	padding-left: 40px;
	padding-right: 15px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mob-menu {
	position: fixed;
	background-color: var(--main-title-color);
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	@include tablet {
		display: none;
	}
}
.menu-close {
	display: block;
	margin-right: 0;
	margin-left: auto;
	background-color: inherit;
	fill: var(--color-titles);
	transition: fill 250ms var(--timing-function);
	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}
.mob-menu-item:not(:last-child) {
	margin-bottom: 32px;
}
.mob-menu-link {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--color-titles);
}
.active {
	color: var(--accent-color);
}
.mob-contacts {
	margin-bottom: 64px;
}
.mob-contacts-item:not(:last-child) {
	margin-bottom: 32px;
}

.header-mob-smartphone {
	font-weight: 500;
	font-size: 34px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.header-mob-evenlope {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.02em;
	color: var(--color-text);
}

.mob-soc {
	display: flex;
}
.mob-soc-item:not(:last-child) {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
