.banner {
	background-color: var(--color-fon-banner);
	padding-top: 200px;
	padding-bottom: 200px;
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(var(--color-gradient-hero), var(--color-gradient-hero)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		@include font(900, 26px, 1.61, 0.06em);
		text-transform: uppercase;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 696px;
		color: var(--main-title-color);
		@media screen and (min-width: 1200px) {
			@include font(900, 44px, 1.36, 0.06em);
		}
	}

	&__button {
		@include font(700, 16px, 1.88, 0.06em);
		@extend %aglin-list;
		padding: 10px 24px;
		cursor: pointer;
		color: var(--main-title-color);
		background-color: var(--accent-color);
		border-radius: 4px;
		margin-left: auto;
		margin-right: auto;
		transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
		&:hover,
		&_button:focus {
			color: var(--main-title-color);
			background-color: var(--main-button-accent);
		}
		@media screen and (min-width: 1200px) {
			padding: 10px 32px;
		}
	}
}
