.banner {
	background-color: var(--color-fon-banner);
	padding-top: 118px;
	padding-bottom: 118px;
	height: 400px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	background-image: var(--gradient-hero), url(../images/header-mobile-1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include retina {
		background-image: var(--gradient-hero), url(../images/header-mobile-2x.jpg);
	}
	@include tablet {
		max-width: 768px;
		background-image: var(--gradient-hero), url(../images/header-tablet-1x.jpg);
		@include retina {
			background-image: var(--gradient-hero), url(../images/header-tablet-2x.jpg);
		}
	}
	@include desktop {
		max-width: 1600px;
		height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: var(--gradient-hero), url(../images/header-desktop-1x.jpg);
		@include retina {
			background-image: var(--gradient-hero), url(../images/header-desktop-2x.jpg);
		}
	}

	&__title {
		@include font(900, 20px, 1.61, 0.06em);
		text-transform: uppercase;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 360px;
		color: var(--main-title-color);
		@include mobile {
			font-size: 26px;
		}
		@include desktop {
			@include font(900, 44px, 1.36, 0.06em);
			max-width: 696px;
		}
	}

	&__button {
		@include font(700, 16px, 1.88, 0.06em);
		@extend %aglin-list;
		width: 200px;
		height: 43, 9px;
		padding: 10px 24px;
		cursor: pointer;
		color: var(--main-title-color);
		background-color: var(--accent-color);
		border-radius: 4px;
		margin-left: auto;
		margin-right: auto;
		transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
		&:hover,
		&_button:focus {
			color: var(--main-title-color);
			background-color: var(--main-button-accent);
		}
		@include tablet {
			height: 50px;
		}
		@include desktop {
			padding: 10px 32px;
			width: 216px;
		}
	}
}
